<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="pad-top">
    <label for="title" class="text">Product Title:</label>
    <input id="title" name="title" [(ngModel)]="product.title" class="form-control my-2" required />
    <div *ngIf="form.controls['title']?.invalid && form.controls['title']?.touched" class="text-danger">
      Product Title is required.
    </div>
  
    <label for="price"  class="text">Product Price:</label>
    <input id="price" name="price" [(ngModel)]="product.price" class="form-control my-2" required />
    <div *ngIf="form.controls['price']?.invalid && form.controls['price']?.touched" class="text-danger">
      Product price is required.
    </div>
  
    <label for="description"  class="text">Product Description:</label>
    <input id="description" name="description" [(ngModel)]="product.description" class="form-control my-2" required />
    <div *ngIf="form.controls['description']?.invalid && form.controls['description']?.touched" class="text-danger">
      Product description is required.
    </div>
    
    <!-- <label for="category"  class="text">Product Category:</label>
    <input id="category" name="category" [(ngModel)]="product.category" class="form-control my-2" required />
    <div *ngIf="form.controls['category']?.invalid && form.controls['category']?.touched" class="text-danger">
      Product category is required.
    </div> -->


    <label for="category" class="text">Product Category:</label>
    <select id="category" name="category" [(ngModel)]="product.category" class="form-control my-2" required>
      <option *ngFor="let cat of categories" [value]="cat.slug">{{ cat.slug }}</option>
    </select>
    <div *ngIf="form.controls['category']?.invalid && form.controls['category']?.touched" class="text-danger">
      Product category is required.
    </div>
    
      <label for="stock"  class="text">Product stock:</label>
      <input id="stock" name="stock" [(ngModel)]="product.stock" class="form-control my-2" required />
      <div *ngIf="form.controls['stock']?.invalid && form.controls['stock']?.touched" class="text-danger">
        Product stock is required.
      </div>
  
    <button type="submit" [disabled]="form.invalid" class="btn edit-btn w-25 mt-2 p-1">Submit</button>
  </form>
  