.cart {
    padding-top: 10px;
}

.mat-table {
    border: 1px solid red;
    /* للتأكد من ظهور الجدول */
}

// .cutword{
//     word-wrap: break-word; /* يلف النص تلقائياً عند انتهاء السطر */
//     word-break: break-word; /* يدعم كسر النص الطويل */
//     white-space: normal; 
// }

.expanded-row {
    background-color: #f5f5f5;
    transition: height 0.3s ease;
}


.expanded-row {
    background-color: #f9f9f9;
}

.inner-table {
    width: 100%;
}









.category .toggle-btn {

    transition: all 0.2s ease-in-out;
}

.category .toggle-btn:hover {
    transform: scale(1.1);
    border: 1px solid #ddd;
}

// الفرق بين height - max height ???



@media (max-width:768px) {
    .del-btn{
        margin-top: 5px!important;
    }
}

@media (min-width:768px) {
    .del-btn{
        margin-top: 0px;
    }
}