<div class="container-fluid" *ngIf="isLoggedIn ; else authTemplate">
    <div class="row">
        <div class="sidebar vh-100 p-2 white" [ngStyle]="{
          transform: isOpen ? 'translateX(0%)' : 'translateX(-100%)'
        }" [ngClass]="{
          'col-3': !isSmallScreen,
          'col-6': isSmallScreen
        }">
            <app-navbar></app-navbar>
        </div>

        <i class="fa-solid fa-bars icon p-2 bg-text innerText2" [ngStyle]="{
            left: isOpen ? '52%' : '2%'
        }" (click)="toggleSidebar()"></i>

        <div class="main-content gray col-12 col-md-9 ">
            
            <app-header></app-header>
            <div class="p-2 router-container">
                <router-outlet></router-outlet>
            </div>
            
        </div>
    </div>

</div>


<ng-template #authTemplate>
    <app-auth></app-auth>
  </ng-template>